{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: left;">Hello, admin!...</h1>
    <h2>Модерация модулей:</h2>
    
    <div class="admin-list">
        {% for module in pending_modules %}
        <div class="admin-row card" id="mod-{{ module.id }}">
            <div onclick="alert('Раскрыть детали модуля {{ module.title }}')" style="cursor: pointer;">
                <h3>{{ module.title }}</h3>
                <p class="text-subtle">Автор: {{ module.author }}</p>
                <p class="text-subtle">Описание: {{ module.description | truncate(100) }}</p>
            </div>
            
            <div class="admin-row-banner">
                </div>
            
            <div>
                <button class="btn neon-btn" style="background-color: #4CAF50;">ПРИНЯТЬ</button>
                <button class="btn neon-btn" style="background-color: #F44336;">ОТКЛОНИТЬ</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <a href="#"><span class="material-icons">chevron_left</span></a>
        <a href="#" class="current-page">1</a>
        <a href="#">2</a>
        <span class="text-subtle">...</span>
        <a href="#">56</a>
        <a href="#"><span class="material-icons">chevron_right</span></a>
    </div>
{% endblock %}
