<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Heroku Modules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    </head>
<body>
    <header>
        <div class="logo"><a href="{{ url_for('home') }}">Heroku Modules</a></div>
        <nav>
            <a href="{{ url_for('home') }}">ДОМОЙ</a>
            <a href="{{ url_for('modules_list') }}">МОДУЛИ</a>
            <a href="#">API</a>
            <a href="{{ url_for('creators_list') }}">СОЗД. СПИСОК</a>
        </nav>
        
        {% if logged_in %}
            <a href="{{ url_for('account_page') }}" class="profile-icon">
                <span class="material-icons">person</span>
            </a>
        {% else %}
            <a href="{{ url_for('login_route') }}" class="btn neon-btn">Войти</a>
        {% endif %}
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    {% block scripts %}{% endblock %}
</body>
</html>
